{% extends "tournament/base.html" %}
{% block title %}Player Dashboard{% endblock %}


{% block body %}





    <!-- HERO -->
  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <!-- Intro -->
        <h1 class="text-5xl font-bold">Welcome {{customUser.name}}</h1>
        <p class="py-6">
          {% lorem 25 w random %}
        </p>
        <!-- Basic Info -->
        <div class="stats shadow">
          <div class="stat">
            <div class="stat-title">Position</div>
            <div class="stat-value">{{player.position}}</div>
            <div class="stat-desc">The position you play</div>
          </div>
        </div>
        <div class="stats shadow">
          <div class="stat">
            {% if team %}
              <div class="stat-title">Current Team</div>
              <div class="stat-value">{{team.teamName}}</div>
            {% else %}
              <div class="stat-title">Current Status</div>
              <div class="stat-value" >Free Agent</div>
            {% endif %}
            <div class="stat-desc">your current status</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Invitations -->
  <div id="invitations">
    {% if  player.isAvailable %}

      <div tabindex="0" class="collapse bg-base-100 border-base-300 border">
        <div class="collapse-title font-semibold pointer"
             hx-get="{% url "invitations" %}"
             hx-target = "#invitations-list"
             hx-swap="innerHTML">
          Invitations
        </div>
        <div class="collapse-content text-sm">
          <div id="invitations-list" class="max-w-md align-center">

          </div>
        </div>
      </div>
    {% endif %}
  </div>


{% endblock %}




